<h3>
   Setup new ExpressJS web app
</h3>
<ul>
   <li>
      npx express-generator --view=hbs
   </li>
   <li>
      npm install -g nodemon
   </li>
   <li>
      npm install mongoose body-parser
   </li>
   <li>
      nodemon
   </li>
   <li>
      http://localhost:3000
   </li>
</ul>